<section class="category feature__product">a</section>

<section class="category">
  <h1 class="category__title">smartphones</h1>
  <app-swiper-category
    [productsByCategorie]="smartphones"
  ></app-swiper-category>
</section>
<section class="category">
  <h1 class="category__title">laptops</h1>
  <app-swiper-category [productsByCategorie]="laptops"></app-swiper-category>
</section>
<section class="category">
  <h1 class="category__title">groceries</h1>
  <app-swiper-category [productsByCategorie]="groceries"></app-swiper-category>
</section>
<section class="category">
  <h1 class="category__title">skincare</h1>
  <app-swiper-category [productsByCategorie]="skincare"></app-swiper-category>
</section>
<section class="category">
  <h1 class="category__title">fragrances</h1>
  <app-swiper-category [productsByCategorie]="fragrances"></app-swiper-category>
</section>
<section class="category">
  <h1 class="category__title">homeDecoration</h1>
  <app-swiper-category
    [productsByCategorie]="homeDecoration"
  ></app-swiper-category>
</section>
