//category carousel
.category {
  margin: 2rem 10%;
  padding: 6rem 0;

  .category__title {
    text-align: center;
    padding-bottom: 2rem;
  }
}

//media queries
@media screen and (max-width: 900px) {
  .category {
    margin: 2rem 5%;
  }
}

@media screen and (max-width: 600px) {
  .category {
    margin: 2rem 10px;
  }
}
