.products__search__list {
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 20;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 550px;
  overflow-y: scroll;
}

.search-control {
  margin: 1rem;
}

.search__list {
  display: grid;
  grid-auto-rows: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
  padding: 2rem;
}

.list__item {
  overflow: hidden;
}

.list__item a {
  text-overflow: ellipsis;
  text-decoration: none;
  color: #fff;
  transition: 0.4s all;

  &:hover {
    color: #c2185b;
  }
}
