.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  position: fixed;
  z-index: 2;
}

.mat-toolbar.mat-primary {
  background-color: #000;
}

mat-form-field {
  margin-top: 20px;
}

.menu {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

.form__res {
  display: grid;
  place-content: center;
}
