<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/home"> Store </a>
    </span>
    <span class="example-spacer"></span>
    <app-global-search></app-global-search>
    <section class="menu">
      <a class="a__routes" routerLink="/categories">Categories</a>
      <a class="a__routes" routerLink="/products">Products</a>
      <a class="a__routes" routerLink="/support">Support</a>
      <a routerLink="/cart">
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </a>
    </section>
  </mat-toolbar-row>
  <mat-toolbar-row class="second__row">
    <ul class="second__row__list">
      <li class="second__row__list--item">
        <a routerLink="/categories">Categories</a>
      </li>
      <li class="second__row__list--item">
        <a routerLink="/products">Products</a>
      </li>
      <li class="second__row__list--item">
        <a routerLink="/support">Support</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
