<section class="container">
  <article class="product__carousel">
    <div class="carousel">
      <button
        mat-icon-button
        color="primary"
        class="carousel__prev__btn"
        (click)="goPrev()"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <picture class="carousel__pic">
        <img
          src="{{ productImages[currProductImageIndex] }}"
          alt="{{ product.title }}"
          title="{{ product.title }}"
          class="carousel__img"
        />
      </picture>

      <button
        mat-icon-button
        color="primary"
        class="carousel__next__btn"
        (click)="goNext()"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="dots__container">
      <button
        mat-mini-fab
        color="primary"
        *ngFor="let img of productImages; index as i"
        (click)="goSelectedImg(i)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </article>
  <article class="add__product">
    <div class="head__product">
      <h1 class="product__title">{{ product.title }} - ${{ product.price }}</h1>
      <span class="product__stock"> stock {{ product.stock }} </span>
    </div>
    <div class="add__container">
      <select
        name="cuantity"
        id="cuantity"
        [(ngModel)]="cuantity"
        class="product__select"
      >
        <option value="na">n/a</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button mat-flat-button color="primary" (click)="addToCart()">Add</button>
    </div>
  </article>
</section>
<mat-divider></mat-divider>
<section class="description">
  <ul class="description__list">
    <li class="list__item">
      <div class="item__header">
        <img
          src="{{ product.thumbnail }}"
          alt="{{ product.title }}"
          width="50"
          height="50"
          class="header__img"
        />
        <h2 style="display: inline">Description</h2>
      </div>
      <p>{{ product.description }}</p>
    </li>
    <li class="list__item">
      <h2>Brand</h2>
      <p>{{ product.brand }}</p>
    </li>
    <li class="list__item">
      <h2>Category</h2>
      <p>{{ product.category }}</p>
    </li>
    <li class="list__item">
      <h2>rating</h2>
      <p>{{ product.rating }}</p>
    </li>
  </ul>
</section>
<mat-divider></mat-divider>
<section class="category">
  <h1 class="category__title">Related products</h1>
  <app-swiper-category
    [productsByCategorie]="filterCategory"
  ></app-swiper-category>
</section>
